# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

.env

/p2.py

data/videos/
data/audio/
*.onnx
*.task
*.pth
*.model
*.wav
*.mp4
*.avi
results/videos/*
data/audio/*
results/srt/*
results/runs/*